// page transitions
.page-enter-active,
.page-leave-active {
	transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
	opacity: 0;
	transform: translateX(-10px);
	// filter: blur(1rem);
}

.layout-enter-active,
.layout-leave-active {
	transition: all 0.4s;
}
.layout-enter-from,
.layout-leave-to {
	opacity: 0;
	filter: blur(2rem);
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.2s ease;
}
.fade-leave-to,
.fade-enter-from {
	opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
	transition: all 0.2s ease;
}
.slide-right-enter-from, .slide-right-leave-to {
	transform: translateX(30px);
	opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
	transition: all 0.3s ease;
	position: absolute;
}
.slide-left-enter-from,
.slide-left-leave-to {
	position: absolute;
	transform: translateX(-30px);
	opacity: 0;
}

.slide-top-enter-active,
.slide-top-leave-active {
	transition: all 0.2s ease;
}
.slide-top-enter-from,
.slide-top-leave-to {
	position: absolute;
	transform: translateY(-30px);
	opacity: 0;
}
.slide-bottom-enter-active,
.slide-bottom-leave-active {
	transition: all 0.2s ease;
}
.slide-bottom-enter-from,
.slide-bottom-leave-to {
	transform: translateY(30px);
	opacity: 0;
}
// this is animation for total in grid **********************************
.sliding-enter-active,
.sliding-leave-active {
	transition: all 0.3s ease-in-out;
	position: absolute;
}
.sliding-enter-from,
.sliding-leave-to {
	opacity: 0;
	transform: translateY(60px);
	position: absolute;
}

.bottom-enter-active,
.bottom-leave-active {
	transition: all 0.3s;
}
.bottom-enter, .bottom-leave-to /* .list-leave-active below version 2.1.8 */ {
	opacity: 0;
	transform: translateY(100px);
}
// loading animation ******************************
@keyframes borealisBar {
	0% {
		left: 0%;
		right: 100%;
		width: 0%;
	}
	10% {
		left: 0%;
		right: 75%;
		width: 25%;
	}
	90% {
		right: 0%;
		left: 75%;
		width: 55%;
	}
	100% {
		left: 100%;
		right: 0%;
		width: 0%;
	}
}

@-webkit-keyframes spaceboots {
	0% {
		-webkit-transform: translate(2px, 1px) rotate(0deg);
	}
	10% {
		-webkit-transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		-webkit-transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		-webkit-transform: translate(0px, 2px) rotate(0deg);
	}
	40% {
		-webkit-transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		-webkit-transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		-webkit-transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		-webkit-transform: translate(2px, 1px) rotate(-1deg);
	}
	80% {
		-webkit-transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		-webkit-transform: translate(2px, 2px) rotate(0deg);
	}
	100% {
		-webkit-transform: translate(1px, -2px) rotate(-1deg);
	}
}
.shake {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
