// fonts
$font-size: 16px;
$text-color: rgba(0, 0, 0, 0.7);
$text-bright: #000;

$card-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
$big-shadow: 0 6px 6px -3px #0003, 0 10px 14px 1px #00000024, 0 4px 18px 3px #0000001f;
$radius-md: 8px;

// $bgMain: #f8f4ed;
$bgMain: #f2f3ef;
$bgHead: hsl(75deg, 14%, 86%);

$bgLight: #f2f3ef;
$bgDark: #ddd8cf;
$bgSelection: #def0fd;
