:root {
	--font-size: 16px;
	--text-color: rgba(0, 0, 0, 0.7);
	--text-bright: #000;

	--bg-main: hsl(75, 8%, 93%);
	--bg-panel: hsl(75, 6%, 96%);
	--bg-head: hsl(75deg, 14%, 86%);
	--bg-selection: #def0fd;
	--bg-card: #fff;

	--card-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
	--big-shadow: 0 6px 6px -3px #0003, 0 10px 14px 1px #00000024, 0 4px 18px 3px #0000001f;
	--radius-md: 8px;

	--primary: #009bff;
	--secondary: #1e77be;
	--warn: #f6eac5;
	--pink: pink;

	--my-border-color: #0000001f;
}
